*{
    margin: 0px;
    padding: 0px;
}
h2{
    float: left;
    margin-left: 50px;
    color: #09435d;
    font-size: 40px;
}
.image{
    height: 200px;
    width: 300px;
}
.hotels{
    float: left;
    margin-right: 50px;
    margin-left: 25px;
    margin-bottom: 30px;
    list-style-type: none;
}
a{
    font-size: 20px;
    text-decoration: none;
    color: #0e6790;
}
.right{
    margin-left: 1600px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.right a{
    margin-left: 60px;
    text-decoration: none;
    color: red;
    font-size: 25px;
}
.right a:hover {
    text-decoration: underline;
}
#demo{
    float: left;
}
#pp{
    font-size: 15px;
    margin-left: 50px;
}